<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/project.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body>

<header class="top-navbar">
    <nav>
        <ul class="menu">
        <li class="menu-item">
                <a href="/">Титульна сторінка</a>
            </li>

        <li class="menu-item">
                <a href="/Home/main_page">Головна сторінка</a>
            </li>

        <li class="menu-item">
                <a href="/Home/addRecipe">Додати власний рецепт</a>
            </li>

        <li class="menu-item">
                <a href="/Acc/Register">Створення власної кулінарної книги</a>
            </li>

        <li class="menu-item">
                <a href="/Home/saved">Мої збережені рецепти</a>
            </li>

            <li class="menu-item user-menu">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <div class="user-info" id="userMenuWrapper">
                        <button id="userMenuBtn" class="acc-btn">
                            <img src="~/images/acc.png" alt="Account" style="width:45px; height:45px;" />
                        </button>
                        <span>@User.Identity.Name</span>

                        <div id="userDropdown" class="dropdown-menu">
                            <form asp-controller="Acc" asp-action="Logout" method="post">
                                <button type="submit" class="dropdown-item">Вийти</button>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <div class="user-info" id="userMenuWrapper">
                        <button id="userMenuBtn" class="acc-btn">
                            <img src="~/images/acc.png" alt="Account" style="width:45px; height:45px;" />
                        </button>
                        <span>Гість</span>

                        <div id="userDropdown" class="dropdown-menu">
                            <a asp-controller="Acc" asp-action="Login" class="dropdown-item">Увійти</a>
                        </div>
                    </div>

                }
            </li>
        </ul>
    </nav>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
